* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.canvas {
    display: block;
}

.boxContainer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.box {
    width: 40%;
    height: min(20vh, fit-content);
    border: 2px solid black;
    border-radius: 10px;
    background: #000;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    align-items: center;
    justify-content: center;
    color: white;
}

/*#region [Controls css] */
.controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding: 20px;
}

.controlsContainer {
    all: unset;
    display: grid;
    width: 250px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 10px;
}

.up {
    all: unset;
    grid-column-start: 2;
    grid-column-end: 2;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.up img {
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

.down {
    all: unset;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.down img {
    transform: rotateZ(180deg);
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

.right {
    all: unset;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    border-radius: 10px;
}

.right img {
    transform: rotateZ(90deg);
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
}


.left {
    all: unset;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    display: flex;
    justify-content: end;
    border-radius: 10px;
}

.left img {
    transform: rotateZ(270deg);
    padding: 2px;
    border: 2px solid black;
    border-radius: 5px;
}

/*#endregion*/